img {
  height: 50px;
}

.portfolio {
  text-align: center;
  width: 75%;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project {
  border: 1px solid red;
  padding: 20px;
  text-align: left;
  height: 250px;
  background-size: cover;
  opacity: 0.5;
}

.project h3,
.project a,
.project p {
  color: white;
}

.project p {
  text-align: left;
}

.project a {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.project:hover {
  opacity: 100%;
}

/*stylings for project images and links*/

.project-section {
  border-left: 5px var(--dark-grey) solid;
  padding-left: 2%;
  width: 60%;
}

.project-large {
  grid-column: 1 / -1; /* Span the full width of the grid */
}

.project-text {
  position: absolute;
  bottom: 30px;
  min-width: 40%;
  left: 5px; /*start title banner on inside of image border*/
  background-color: var(--dark-blue);
  color: white;
  padding: 2%;
  opacity: 50%; /*same opacity as project image*/
  pointer-events: none; /*disable hover behavior acting independently of project image*/
}

.project-details {
  margin-top: 1%;
  font-size: 0.8em;
  padding-bottom: 2%;
}

.project img {
  width: 100%; /* Ensure the images fill their respective containers */
  height: auto; /* Maintain aspect ratio */
  opacity: 50%;
  border: var(--slate-blue-dark) solid 5px;
}

.project-large img:hover,
.project img:hover,
.project:hover,
.project:hover .project-text {
  opacity: 100%; /*images become full color on hover*/
  transition: 0.5s;
  transform: scale(1.03); /*images grow slightly larger on hover*/
}

.project:hover .project-text {
  box-shadow: 0px 0px 2px 2px var(--shadow);
  left: 3px;
}
